#projects {
  color: $white-color;
  box-shadow: inset -5px 5px 10px #0b0b0b, inset 5px -5px 10px #2b2b2b;
  padding-bottom: 10%;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .project-wrapper {
    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-top: 15rem;

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__text {
      text-align: left;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 0.5rem;
        font-size: 3rem;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $highlight-color;
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 100%;
        margin: 0;
      }

      & .thumbnail {
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-out;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
          0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        @include respond(tab-port) {
          clip-path: unset;
        }

        @include respond(phone) {
          margin-bottom: 3.2rem;
        }
      }

      & .row-reverse {
        clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 10% 100%);
        @include respond(tab-port) {
          clip-path: unset;
        }
      }
    }
  }
}
