#skills {
  background: $white-color;
  color: $dark-blue-text;
  margin-top: -15rem;
  padding-top: 15rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .skills-wrapper {
    margin-bottom: 15rem;
    color: wheat;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    background: black;
    border-radius: 10px;
    padding: 5em;
    margin: auto;
    justify-content: space-evenly;
    //align-content: flex-end;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .skill_item {
      margin: 4em;

      .skill_name {
        max-width: 99%;
      }

      @include respond(phone) {
        margin: 1em;
      }
    }
  }
}
