// BACKGROUND COLORS
$primary-color: #141E30;
$secondary-color: #243B55;

$white-color: cornsilk;
$black-color: #1b1b1b;

$highlight-color: #bada55;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
