.footer {
  background-color: $black-color;
  color: $white-color;
  padding: 2rem 0;

  @include respond(phone) {
    border: 0px;
  }

  &__text {
    color: darken(white, 50%);
    font-size: 1.3rem;

    a {
      color: darken(white, 50%);
      font-size: 1.3rem;
      transition: all 0.4s;
      display: inline-block;
      background-color: $black-color;

      &:hover,
      &:active {
        color: $highlight-color;
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  & hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 50%;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white-color;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    margin: $default-font-size $default-font-size;
    transition: all 0.2s ease-in;
    &:hover {
      transform: translateY(-2px);
    }
    
    .fa-inverse {
      transition: all 0.2s ease-in;
      &:hover {
        color: $highlight-color;
      }
    }
  }
}

.back-to-top i {
  color: $highlight-color;
  margin: 1rem 0 $default-font-size;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }
}

.logo {
  font-size: 5.6rem;
  font-weight: 700;
  color: cornsilk;
  width: 1em;
  margin: auto;
  margin-bottom: 1.5rem;
  text-align: left;
  position: relative;
  
  .first {
    color: #bada55;
    position: relative;
    z-index: 2;
  }
  .last {
    position: absolute;
    z-index: 1;
    left: 1.5rem;
    top: 1rem;
  }
  &-border {
    border: 3px solid cornsilk;
    height: 1.4em;
    width: 1.3em;
    position: absolute;
    left: -.2em;
    top: .6rem;
  }
}
