@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

h1 {
  font-weight: 700;
}

p,
a {
  font-family: 'Montserrat', sans-serif;
  font-size: $default-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  color: $highlight-color;
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: $big-font-size;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 6px 5px #1b1b1b;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.highlight-color {
  color: $highlight-color !important;
}

.text-color-main {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // Responsive text purple style
  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $secondary-color;
  }

  &:hover {
    transform: translateX(2px);
  }
}

.footnote {
  width: 70%;
  margin-top: 1em;
  text-align: left;
  margin-bottom: 1em;

  @include respond(tab-land) {
    margin-top: -3.8rem;
    margin-bottom: 4.8rem;
  }

  @include respond(phone) {
    margin-top: -1.5rem;
    margin-bottom: 2.5rem;
  }
}

.contact-email {
  font-family: 'Amatic SC', cursive;
  font-size: 3em!important;
  color: inherit;
  &:hover {
    color: $highlight-color;
  }
  @include respond(phone) {
    font-size: 2.5em!important;
  }
}

.contact-seperator {
  margin: 4rem 0;
  letter-spacing: 8px;
  font-weight: 800;
  text-transform: uppercase;
}